.home {

  img {
    margin-bottom: 3%;
  }

.btn { 
    .custom-btn() 
}
    
button {
  cursor: pointer;
  a {
    color: @white;
    text-decoration: none;
  }
} 

.form-content {
  height: 400px;
  width: 400px;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 25%;
  
  .top-form {
    height: 75px;
    p {
      font-size: 20px;
      margin-bottom: 2%;
      font-family: Roboto;
    }
  }
  .middle-form {
    height: 50px;
  }
  textarea {
    resize: none;
    
  }
}

label {
  font-size: 1.25rem;
  
}

p {
  font-size: 14px;
}

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 30%;
      margin-bottom: 30px;
      @media @phone {
        width: 75%;
      }
    }
     @media @phone {
    display: flex;
    flex-direction: column;
  } align-items: center;
  }

 
}// home